.top {
  text-align: center;
}

#cover {
  padding: 50px 0;
}

@media (min-width: 576px) {
  #cover {
    padding-top: 120px;
  }
}

#cover .logo {
  width: 35%;
  display: inline-block;
}

#cover h1 {
  margin-top: 20px;
  letter-spacing: 0.05em;
}
